@{
    ViewData["Title"] = "Bem-vindo!";
}

<div class="main">
    <div class="Title">
        <h1 class="text-center">Bem vindo, gerente da locadora!</h1>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4 mb">

        </div>

        <div class="col-md-4 col-sm-4 mb">

        </div>

        <div class="col-md-4 col-sm-4 mb">

        </div>
    </div>
    <div class="col-md-12" align="center">
        <a class="btn btn-primary" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Ators" asp-action="Index">Ver Atores Disponíveis</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Diretors" asp-action="Index">Ver Diretores Disponíveis</a>
    </div>
</div>