@model Locadora.Models.Ator

@{
    ViewData["Title"] = "Editar ator";
}

<h2>Editar ator</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Ator</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="DataPrimeiroFilme" class="hidden col-md-2 control-label"></label>
            <div class="col-md-10">
                <label>Data do primeiro filme</label>
                <input asp-for="DataPrimeiroFilme" class="form-control" type="date" />
                <span asp-validation-for="DataPrimeiroFilme" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataUltimoFilme" class="hidden col-md-2 control-label"></label>
            <div class="col-md-10">
                <label>Data do &uacute;ltimo filme</label>
                <input asp-for="DataUltimoFilme" class="form-control" type="date" />
                <span asp-validation-for="DataUltimoFilme" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="hidden col-md-2 control-label"></label>
            <div class="col-md-10">
                <label>Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumPremios" class="hidden col-md-2 control-label"></label>
            <div class="col-md-10">
                <label>Pr&ecirc;mios</label>
                <input asp-for="NumPremios" class="form-control" />
                <span asp-validation-for="NumPremios" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Atualizar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
